@model IEnumerable<ProductMarketEditor.Models.Supplier>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                CreatedBy
            </th>
            <th>
                CreatedOn
            </th>
            <th>
                EditedBy
            </th>
            <th>
                EditedOn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.ProductTypeName)
            </td>
            <td>
                @if (item.ImageFile == null)
                {
                    <img src="~/Images/NotFound.png" alt="image not found" width="50" height="50">
                }
                else
                {
                    <img src="~/Images/ProductPhotos/@item.SupplierId.ToString()/@item.ImageFile" width="50" height="50" />

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierChange.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierChange.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierChange.EditedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierChange.EditedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
